
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b></b>
    </div>
    <strong>Copyright &copy; Stones<a href="https://creativetugs.com">Creative Tugs</a>.</strong> All rights
    reserved.
</footer>
