<!--<div class="container">-->
<!--    <div class="col-lg-12">-->
<!--        <h3>{{heading}}</h3>-->
<!--        <br/>-->
<!--        <br/>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--            <div class="col-sm-2"></div>-->
<!--            <div class="col-sm-7">-->
<!--                <form ng-submit="save()" class="form-horizontal">-->
<!--                    <div class="form-group">-->
<!--                        <label class="" for="name">Name: </label>-->
<!--                        <input type="text" class="form-control"  ng-model="hotel.name" id="name" placeholder="Enter Hotel Name">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="" for="email">Email: </label>-->
<!--                        <input type="text" class="form-control"  ng-model="hotel.email" id="email" placeholder="Enter Email">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="" for="address">Address: </label>-->
<!--                        <input type="text" class="form-control"  ng-model="hotel.address" id="address" placeholder="Enter Address">-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label class="" for="image_active">Upload Logo: </label>-->
<!--                        <input accept="image/*" type="file"  placeholder="Logo"  class=" form-control" ng-model="league.logo"  file-model="hotel.logo" id="logo" >-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <div class="col-sm-offset-1 col-sm-10">-->
<!--                            <button type="submit" class="btn btn-default">Save</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="col-md-12">
        <div class="ms-panel">
            <div class="ms-panel-header">
                <h6>Add New Hotel</h6>
            </div>
            <div class="ms-panel-body">
            <form ng-submit="save()" >
                <div class="form-group">
                    <label class="" for="name">Name: </label>
                    <input type="text" class="form-control"  ng-model="hotel.name" id="name" placeholder="Enter Hotel Name">
                </div>
                <div class="form-group">
                    <label class="" for="email">Email: </label>
                    <input type="text" class="form-control"  ng-model="hotel.email" id="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label class="" for="address">Address: </label>
                    <input type="text" class="form-control"  ng-model="hotel.address" id="address" placeholder="Enter Address">
                </div>
                <div class="form-group">
                    <label class="" for="phone">Phone No.: </label>
                    <input type="text" class="form-control"  ng-model="hotel.phone" id="phone" placeholder="Enter Phone Number">
                </div>
                <div class="form-group">
                    <label class="" for="tables">No.Of Tables: </label>
                    <input type="number" class="form-control"  ng-model="hotel.tables" id="tables" placeholder="Enter No. Of Tables">
                </div>

                <div class="form-group">
                    <label class="" for="logo">Upload Logo: </label>
                    <input accept="image/*" type="file"  placeholder="Logo"  id="logo"  ng-model="league.logo"  file-model="hotel.logo">
                </div>
                <div class="form-group">
                    <label class="" for="menue">Upload Menue: </label>
                    <input accept="image/*" type="file"  placeholder="Menue"  id="menue"  ng-model="league.menue"  file-model="hotel.menue" >
                </div>

                 <button type="submit" class="btn btn-success">Save</button>
                <button class="btn btn-default">Cancel</button>

            </form>
        </div>
    </div>
</div>


