<div class="container">
    <div class="col-lg-12">
        <h3>{{heading}}</h3>
        <br/>
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <form ng-submit="save()" class="form-horizontal">
                <div class="form-group">
                    <label class="" for="sponsor">Sponsor: </label>
                    <select class="form-control" ng-model="banners.sponsor_id" id="sponsor">
                        <option value="">Select Sponsor</option>
                        <option ng-repeat="sponsor in sponsors" value="{{sponsor.id}}">{{sponsor.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="" for="striplink">Strip Link: </label>
                    <input type="text" class="form-control"  ng-model="banners.banner_strip_link" id="striplink" placeholder="Enter Banner Strip Link">
                </div>
                <div class="form-group">
                    <label class="" for="banner_strip_img">Strip Image: </label>
                    <input accept="image/*" type="file"  placeholder="Image File"  class=" form-control" ng-model="banners.banner_strip_img"  file-model="banners.banner_strip_img" id="banner_strip_img" >
                </div>
                <div class="form-group">
                    <label class="" for="fullBoxLink">Full Box Link: </label>
                    <input type="text" class="form-control"  ng-model="banners.banner_full_box_link" id="fullBoxLink" placeholder="Enter banner full box link ">
                </div>
                <div class="form-group">
                    <label class="" for="banner_full_box_img">Full Box Image: </label>
                    <input accept="image/*"  type="file"  placeholder="Image File"  class=" form-control" ng-model="banners.banner_full_box_img"  file-model="banners.banner_full_box_img" id="banner_full_box_img" >
                </div>


                <div class="form-group">
                    <label class="" for="status">Status: </label>
                    <select class="form-control" ng-model="banners.status" id="status">
                        <option value="1">Active</option>
                        <option value="0">In Active</option>
                    </select>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
