
    <div class="col-md-12">
        <div class="ms-panel">
            <div class="ms-panel-header">
                <h6>{{heading}}</h6>
            </div>

            <div class="ms-panel-body">
                <form ng-submit="save()" >
                <div class="form-group">
                    <label class="" for="name">Name: </label>
                    <input type="text" class="form-control"  ng-model="hotel.name" id="name" placeholder="Enter Hotel Name">
                </div>
                <div class="form-group">
                    <label class="" for="email">Email: </label>
                    <input type="text" class="form-control"  ng-model="hotel.email" id="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label class="" for="address">Address: </label>
                    <input type="text" class="form-control"  ng-model="hotel.address" id="address" placeholder="Enter Address">
                </div>
                <div class="form-group">
                    <label class="" for="phone">Phone No.: </label>
                    <input type="text" class="form-control"  ng-model="hotel.phone" id="phone" placeholder="Enter Phone Number">
                </div>
                <div class="form-group">
                    <label class="" for="staffName">Staff Name: </label>
                    <input type="text" class="form-control"  ng-model="hotel.staffName" id="staffName" placeholder="Enter Staff Name">
                </div>
                <div class="form-group">
                    <label class="" for="staffLocation">Staff Location: </label>
                    <input type="text" class="form-control"  ng-model="hotel.staffLocation" id="staffLocation" placeholder="Enter Staff Locatoin">
                </div>
                <div class="form-group">
                    <label class="" for="staffPhone">Staff Phone No.: </label>
                    <input type="text" class="form-control"  ng-model="hotel.staffPhone" id="staffPhone" placeholder="Enter Staff Phone">
                </div>
                <div class="form-group">
                    <label class="" for="logo">Upload Logo: </label>
                    <input accept="image/*" type="file" class="form-control"   placeholder="Logo"  id="logo"  ng-model="hotel.logo"  file-model="hotel.logo">
                </div>
                <div class="form-group">
                    <label class="" for="menue">Upload Menue: </label>
                    <input accept="image/*" type="file"  placeholder="Menue" class="form-control"   id="menue"  ng-model="hotel.menue"  file-model="hotel.menue" >
                </div>

                 <button type="submit" class="btn btn-success">Save</button>
<!--                <button class="btn btn-default">Cancel</button>-->

            </form>
        </div>
    </div>

    </div>

