<div class="box">
    <div class="box-header">
        <h3 class="box-title">Feedback</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr >
                <th>Sr#</th>
                <th>User Email</th>
                <th>How would you rate the Videos in this app?</th>
                <th>How would you rate the other materials in this app?</th>
                <th>How easy was this app to use?</th>
                <th>Please tell us what other features would you like to see in such an app?</th>
                <th>Would you recommend this app to others</th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="ans in answer track by $index" >
                <td>{{$index+1}}</td>
                <td>{{ans.email}}</td>
                <td><span ng-repeat="t in getNumber(ans[1].ans) track by t" class="fa fa-star checked"></span> <br/>{{ans[1].option}} </td>
                <td><span ng-repeat="t in getNumber(ans[2].ans) track by t" class="fa fa-star checked"></span><br/>{{ans[2].option}}  </td>
                <td><span ng-repeat="t in getNumber(ans[3].ans) track by t" class="fa fa-star checked"></span><br/>{{ans[3].option}}  </td>
                <td>{{ans[4].option}} </td>
                <td>{{ans[5].option}} </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" id="confirmation" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                <label style="color:#3c3c3c" >Are you sure ! you want to delete?</label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="removeConfirmed()" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        var h =  $('.wrapper').height()
        h = h-100;
        $('.content-wrapper').css("height",h)
    },500)


</script>