 <div class="box">

    <div class="ms-panel">
        <div class="ms-panel-header new"><h6>Hotels</h6>
            <button type="button" class="btn btn-outline-primary"> <a href="#/add-hotel">Add New Hotel</a></button>
        </div>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr >
                <th>Sr#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone No.</th>
                <th>No. Of Tables</th>
                <th>Logo</th>
                <th>Menue</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr id="{{hotel.id}}" ng-repeat="hotel in data" >
                <td>{{$index+1}}</td>
                <td>{{hotel.name}}</td>
                <td>{{hotel.email}}</td>
                <td>{{hotel.address}}</td>
                <td>{{hotel.phone}}</td>
                <td>{{hotel.tables.length}}</td>
                <td><img class="imagePreviewModal" src="{{hotel.logo}}" width="100" alt="logo"/></td>
                <td><img class="imagePreviewModal" src="{{hotel.menue}}" width="100" alt="menue"/></td>
                <td>{{dated(hotel.createdDate)}}</td>
                <td>
                    <a ng-click="removeData(hotel._id)" ><i class="fa fa-trash"></i> </a><br/>
                    <a href="#hotel/{{hotel._id}}" ><i class="fa fa-pencil"></i> </a><br/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" id="confirmation" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                <label style="color:#3c3c3c" >Are you sure ! you want to delete?</label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="removeConfirmed()" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        var h =  $('.wrapper').height()
        h = h-100;
        $('.content-wrapper').css("height",h)
    },500)


</script>
