<div class="container">
    <div class="col-lg-12">
        <h3>Send Notification</h3>
        <br/>
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <form ng-submit="sendVersionNameNotification()" class="form-horizontal">
                <div  class="form-group">
                    <label  for="versionName">Send New Version Notification</label>
                </div>
                <div  class="form-group">
                    <label class="" for="versionName">Version Name</label>
                    <input type="text" class="form-control"  ng-model="versionName" id="versionName" placeholder="Enter Version Name">
                </div>
                <div class="form-group">
                    <!--<div class="col-sm-offset-1 col-sm-10">-->
                        <button type="submit" class="btn btn-primary">Send Notification</button>
                    <!--</div>-->
                </div>
            </form>
            <br/>
            <form ng-submit="sendPromoTitleNotification()" class="form-horizontal">
                <div  class="form-group">
                    <label  for="promoTitle">Send New Promotions Notification</label>
                </div>
                <div  class="form-group">
                    <label class="" for="promoTitle">Enter Promo Title </label>
                    <input type="text" class="form-control"  ng-model="promoTitle" id="promoTitle" placeholder="Enter Promo Title">
                </div>
                <div class="form-group">
                    <!--<div class="col-sm-offset-1 col-sm-10">-->
                        <button type="submit" class="btn btn-primary">Send Notification</button>
                    <!--</div>-->
                </div>
            </form>
            <br/>
            <form ng-submit="sendAppGuidanceNotification()" class="form-horizontal">
                <div  class="form-group">
                    <label  for="appGuidance">Send App Guidance Notification</label>
                </div>
                <div  class="form-group">
                    <label class="" for="appGuidance">App Guidance </label>
                </div>
                <div class="form-group">
                    <!--<div class="col-sm-offset-1 col-sm-10">-->
                    <button type="submit" id="appGuidance" class="btn btn-primary">Send Notification</button>
                    <!--</div>-->
                </div>
            </form>
            <br/>
            <form ng-submit="sendNotificationToTopTenUsers()" class="form-horizontal">
                <div  class="form-group">
                    <label  for="series_id">Send Ranking Notification To Top 10 Users</label><br/>
                </div>
                <div class="form-group">
                    <label class="" for="series_id">Select League : </label>
                    <select  id="series_id" class="form-control" ng-model="series_id">
                        <option value="">Select League</option>
                        <option ng-repeat="league in leagues" value="{{league.id}}">{{league.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send Notification</button>
                </div>
            </form>
            <br/>
            <form ng-submit="sendNotificationToTopThreeUsers()" class="form-horizontal">
                <div  class="form-group">
                    <label  for="seriesId">Send Ranking Notification To Top 3 Users</label><br/>
                </div>
                <div class="form-group">
                    <label class="" for="seriesId">Select League : </label>
                    <select  id="seriesId" class="form-control" ng-model="seriesId">
                        <option value="">Select League</option>
                        <option ng-repeat="league in leagues" value="{{league.id}}">{{league.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send Notification</button>
                </div>
            </form>
        </div>
    </div>
</div>
